{% extends 'main.html.twig' %}

{% block content %}

    <br />
    <div class="row title_row">
        <div class="col-sm-12 col-md-12">
            {{ form_start(groups_team_form, {'action' : path('group_team_add')}) }}
            {{ form_widget(groups_team_form) }}

            <div class="form-group row">
                <div class="col-sm-2"></div>
                <div class="col-sm-10">
                    <button type="submit" id="group_save" class="btn-primary btn">{% trans %}Add{% endtrans %}</button>
                </div>
            </div>
            {{ form_end(groups_team_form) }}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-12">
            <table class="table table-striped">
                <tbody>
                {% for grTm in t_paginated %}

                    <tr>
                        <td>{{ grTm.id }}</td>
                        <td>{{ grTm.team.name }}</td>
                        <td><a role="button" class="btn btn-primary"
                               href="{{ path('group_team_delete', {'groupsTeamId':grTm.id, 'page':app.request.query.get("page")}) }}">{% trans %}Delete{% endtrans %}</a>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2 col-md-2"></div>
        <div class="col-sm-8 col-md-8">
            {{ knp_pagination_render(t_paginated) }}
        </div>
        <div class="col-sm-2 col-md-2"></div>
    </div>

{% endblock %}

